################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GisTest/bin
/GisTest/obj/Debug
/packages
/DataBase/obj/Debug
/DataBase
