################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GisTest/bin
/GisTest/obj/Debug
/packages
/DBGov/obj
/DBGov/bin
/DBGov/DBGov.dbmdl
/DBGov/DBGov.jfm