################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GisTest/bin
/GisTest/obj/Debug
/packages
/DBGov/obj
/DBGov/bin
/DBGov/DBGov.dbmdl
/DBGov/DBGov.jfm
/DataBase/obj/Debug
/DataBase/DataBase.dbmdl
/DatabaseGis/obj/Debug
/DBGov/DBGov.jfm
/DBGov/DBGov.dbmdl
*.dacpac
