@model IEnumerable<GisTest.ViewModels.ObjectViewModel>
@{
    ViewBag.Title = "Home Page";
}
@section css{
    <link href="~/Content/css/Index.css" rel="stylesheet" />
}
<div class="row w-100 ml-0 mr-0" id="Home">
    <div class="col-3" id="listCity">
        <label><b>Danh sách bản đồ</b></label>
        <ul class="menu-first">
            @foreach (var item in Model)
            {
                <li class="node">
                    <a href="javascript:;" data-id="@item.Value" class="node-item">
                        <span>@Html.DisplayFor(modelItem => item.Description) @Html.DisplayFor(modelItem => item.Ten)</span>
                        <span class="node-icon">
                            <i class="fa fa-angle-left"></i>
                        </span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-9" id="xinkciti-map">
    </div>
</div>
<a href="javascript:;" id="hidden-listCity"><i class="fa fa-angle-left"></i></a>
<div id="show-info" class="row mr-0">
    <a href="javascript:;" id="hidden-info" class="float-right"><i class="fa fa-angle-right"></i></a>
    <div class="content-info float-right">
        <h4 class="w-100 text-center mb-4 mt-4">Thông tin bản đồ</h4>
        <div class="row item-info">
            <label class="col-6">Quốc gia:</label>
            <label class="col-6">Việt Nam</label>
        </div>
        <div class="load-info">
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/js/GetListMenu.js"></script>
    <script src="~/Scripts/js/MapEvent.js"></script>
}
