
@{
    ViewBag.Title = "ViTriDiaChinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{

    <link href="~/Content/css/Page2.css" rel="stylesheet" />
}
<div class="row w-100 ml-0 mr-0" id="Home">
    <div class="col-12" id="xinkciti-map">
    </div>
</div>

<a href="javascript:;" id="hidden-listCity"><i class="fa fa-angle-left"></i></a>
<div id="show-info" class="row mr-0">
    <a href="javascript:;" id="hidden-info" class="float-right"><i class="fa fa-angle-right"></i></a>
    <div class="content-info float-right">
        <h4 class="w-100 text-center mb-4 mt-4">Thông tin bản đồ</h4>        
        <div class="load-info">
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/js/Page2.js"></script>
}


